@model MOL.Models.Personnel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Personnel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MarineId" class="control-label"></label>
                <input asp-for="MarineId" class="form-control" />
                <span asp-validation-for="MarineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReturning" class="control-label"></label>
                <input asp-for="DateReturning" class="form-control" />
                <span asp-validation-for="DateReturning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                @Html.DropDownList("Location",
                    new SelectList(Enum.GetValues(typeof(MOL.Models.Location))),
                    "Select Location",
                    new { @class = "form-control" })
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificationLevel" class="control-label"></label>
                @Html.DropDownList("CertificationLevel",
                    new SelectList(Enum.GetValues(typeof(MOL.Models.CertificationLevel))),
                    "Select Certification Level",
                    new { @class = "form-control" })
                <span asp-validation-for="CertificationLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
