@{
    ViewData["Title"] = "Spear Automation";
}

<h1 style="text-align:center">Spear Automation</h1>
<div style="height:600px; width:inherit; background-position-x: center; background-image: url(images/datatransfer.png); background-size:auto; background-repeat: no-repeat">
    <div style="padding-bottom:300px"></div>
    <div style="text-align:center; font-family: sans-serif; border: solid 5px black; font-size: 30px; position: center center;">
        Custom APIs to fix your data transfer issues
    </div>
</div>
<div style="height:600px; width:inherit; background-position-x: center; background-image: url(images/teambackground.png); background-size:auto; background-repeat: no-repeat">
    <div style="padding-top: 400px; font-family:sans-serif; text-align:center; font-size: 40px; position: center center; border: 10px solid blue;">
        We are a team of Product Managers, Consultants and Developers with a common goal of making the world a more efficient place.
    </div>
</div>
<div style="height:600px; width:inherit; background-position-x: center; background-image: url(images/SpearDashboard.png); background-size:inherit; background-repeat: no-repeat">
    <div style="padding-bottom: 60px"></div>
    <div style="text-align:center; font-family: sans-serif; border: ridge 10px lightblue; font-size: 40px; position: center center;">
        Fix complex data transfer issues as easy as 1, 2, 3
    </div>
</div>
<h1>What's Next?</h1>
<div style="text-align:center; font-size: large; position: center center;">
    With a detailed study in the US Marine Corps underway, we are moving toward Marine-wide deployment and expanding into the other areas of the public sector.
    <br><br>
    We are excited to begin the process of working with small clinics and financial management firms to open these industries to a more efficient and accurate way of communicating crucial information.
</div>
<div style="height:600px; width:inherit; background-position-x: center; background-image: url(images/roadmap.png); background-size:auto; background-repeat: no-repeat">
</div>
